.footer-common {
  position: relative;
  height: auto;
  padding: 50px 100px;
  background: #23232e;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-common .footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer-common .footer-container .footer-section {
  margin-right: 30px;
}
.footer-common .footer-container .footer-section.footer-about {
  width: 40%;
}
.footer-common .footer-container h2 {
  position: relative;
  color: #b6b6b6;
  font-weight: 500;
  margin-bottom: 15px;
}
.footer-common .footer-container h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #1da00c;
}
.footer-common p {
  color: #b6b6b6;
}
.footer-socials {
  margin-top: 20px;
  display: flex;
}
.footer-socials li {
  list-style: none;
}
.footer-socials li p {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #b6b6b6;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  border-radius: 5px;
}
.footer-socials li p:hover {
  background: #141418;
  font-size: 20px;
  cursor: pointer;
}

.footer-links {
  position: relative;
  width: 25%;
}
.footer-links ul li {
  list-style: none;
}
.footer-links ul li p {
  color: #b6b6b6;
  margin-bottom: 10px;
  display: inline-block;
}
.footer-links ul li p:hover {
  color: #ececec;
  cursor: pointer;
}
.footer-contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.footer-contact .footer-contact-info {
  position: relative;
}
.footer-contact .footer-contact-info li {
  display: flex;
  margin-bottom: 16px;
}
.footer-contact .footer-contact-info li span:nth-child(1) {
  color: rgb(85, 85, 85);
  font-size: 20px;
  margin-right: 20px;
}
.footer-contact .footer-contact-info li p {
  color: #b6b6b6;
}
.footer-contact .footer-contact-info li p:hover {
  color: #ececec;
  cursor: pointer;
}
.footer-copyright {
  width: 100%;
  padding: 10px 0;
  background: #181818;
  text-align: center;
  color: #b6b6b6;
}
.footer-copyright .span-copyright {
  color: #1da00c;
  cursor: pointer;
}
@media (max-width: 991px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-common .footer-container .footer-section {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .footer-common .footer-container .footer-section.footer-about,
  .footer-links,
  .footer-contact {
    width: 100%;
  }
}
