<footer class="footer">
    <div class="l-footer">
       <a href="/" class="logo">BØØKED</a>
   </div> 
   <ul class="r-footer">
       <li class="features">
           <h2>Need help?</h2>
           <ul class="box">
               <li><a href="#">Work with us</a></li>
               <li><a href="#">Customer service</a></li>             
           </ul>
       </li>
       <li>
           <h2>Legal</h2>
           <ul class="box">
               <li> <a href="#">Privacy policy</a></li>
               <li> <a href="#">Terms of use</a></li>
               <li> <a href="#">Cookies policy</a></li>
            </ul >
       </li>
   </ul>
   <div class="b-footer">
       <p>All Right Reserved by &copy; Sarantos Tzortzis</p>
   </div>
</footer>



