<html>
    <body>
        <header class="nav-header">
            <a href="/" class="logo">BØØKED</a>
            <ul class="nav-ul">
                <li class="nav-li"> <a class="nav-a" href="/"> Home </a> </li>
                <li class="nav-li"> <a class="nav-a"  href="/myList"> My List </a> </li>
               <!-- <li class="nav-li"> <a class="nav-a blocked"  href="#"> Profile </a> </li>-->
            </ul>
        </header>
        <!--<section class="banner"></section>-->
    </body>
</html>