<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta authors -->
    <meta name="author" content="Sarantos Tzortzis">
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <!-- Meta charset -->
    <meta charset="UTF-8">
    <!-- Meta edge -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Meta viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta title -->
    <title>Welcome</title>
    <!-- Meta description -->
    <meta name="description" content="The purpose of    is to provide people an easy access to electronic libraries">
    <!-- Meta keywords -->
    <meta name="keywords" content="ebooks libraries books reading studing">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="../../public/css/css/style.css"> 
    <!-- JavaScript -->
    <script src="../../public/js/script.js" defer></script>
    
</head>
<body>
    {{>header}}
    {{{body}}}
    {{>footer}}
</body>
</html>