<section class="books-content">

        <div class="pop-up-box" id="popup">
            <i class="fas fa-exclamation-circle fa-3x"></i>
            <p class="pop-up-p">Book is already added to your list.</p>
            <button class="pop-up-btn" id="popup-btn"><i class="far fa-times-circle fa-2x"></i></button>
        </div>
                         
        {{#each works}}

            <article class="book">
               

                <header class="book-header">
                    <p class="book-author">
                        <span class="high">Author: </span>
                        <p class="authorName">{{this.authorweb}}</p>
                    </p>
                    <button class="book-btn"><i class="far fa-bookmark fa-2x"></i></button>
                    <button class="book-btn-delete" id="delete"><i class="fas fa-minus fa-2x"></i></button>
                </header>

                <div class="book-body">
                    <p class="book-title">
                        <span class="high">Title: </span>
                        <p class="bookName">{{this.titleweb}}</p>
                    </p>
                </div>

                <footer class="book-footer">
                   <!-- <input class="book-comment" placeholder="comment">-->
                   <p class="book-id">
                       <span class="high">ID: </span>
                       <p class="bookId">{{this.workid}}</p>
                    </p>
                </footer>

            </article>
        {{/each}}
        
        
</section>