<article class="edited">   
    <section class="edited-box"> 

        <div class="edited-msg">
            <i class="edited-tic fas fa-check-circle fa-2x"></i>
            <h1 class="edited-h1">Changes Saved !</h1>
        </div>   

        <img src="../public/images/edited.png" alt="Edit successful">

    </section>
</article>