<article class="search">   
    <section class="search-box">
        <form method="GET" action="/results">
           <input type="text" id="bar" name="searchBook" class="input-search" required placeholder="Search..." />
           <button type="submit" class="button-search" >Search</button>
           <!--onclick="window.location.href='/results'"-->
        </form>
    </section>
</article>